/* Move down content because we have a fixed navbar that is 50px tall */
body 
{

  padding-top: 50px;
  

}

.jumbotron h1
{

	font-family: "Open Sans", sans-serif;


}

.btn-lg
{
	font-size:24px;

}

.jumbotron{
background-image: url("../images/tlour.jpg"); 
color:white; 
background-position: 50% 30%; 
background-repeat: no-repeat; 
background-size: cover;

}

ul.nav img{left;}

.title{font-family:"Montserrat", sans-serif;}

#vinicius{background-color: #f5f5f5;}

a.btn-warning{color: black; 
	background-color: #f74c3c; 
	border-color: #f74c3c;}

.jumbotron a:hover {
	background-color: #f74c3c; 
	border-color: #f74c3c;}


#vinicius h2{/*color: #e65c00;*/ color: #f74c3c;}

.navbar-right a:hover{
	opacity: .8;
}

footer {
	background-color: #f74c3c;
	padding-top: 15px;
	width: 1348px;
	position: absolute;
	right: 60px;
	left: 1px;
}

.bottom {
	margin: auto;
	
}

.top1{
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 50px;
	

}

.row p{
	max-width: 250px;
}

.row a:hover{
	background-color: #f74c3c;
	border-color: #f74c3c;
}


@media (max-width: 1199px;) { 

.jumbotron h1 {

	font-size: 56px;
	margin-bottom: 30px;
 }

footer {
	max-width: 450px;
}
